:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;

  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-main-color: #e5e5e5;
  --background-secondary-color: #f5f4fa;
  --background-hero-color: #2f303a;
  --bcgr-btn-hvr: #188ce8;
  --border-primary: #eeeeee;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
}
/* Header */
/* Logo */
.logo-header {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-footer {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  text-decoration: none;
}
.logo {
  color: var(--accent-color);
}

/* Site nav */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}
.logo-header {
  margin-right: 93px;
}

.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}

.site-nav li {
  margin-right: 50px;
}
.site-nav .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  cursor: pointer;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts li {
  margin-right: 50px;
}

.header-contacts .item:last-child {
  margin-right: 0;
}

.header-contacts .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}
/* Section Hero */
.section-hero {
  background-color: var(--background-hero-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.section-hero .hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
.primary-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  position: relative;
  left: 50%;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.primary-button:hover,
.primary-button:focus {
  color: var(--primary-white-color);
  background-color: var(--bcgr-btn-hvr);
}

/* Benefits Section*/
.section-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hidden-heading {
  display: none;
}
.benefit-list {
  display: flex;
  justify-content: space-between;
}
.benefit-list .benefit-box {
  width: 270px;
}
.benefit-list .benefit-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.benefit-list .benefit-description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10;
  margin-bottom: 0;
}

/* What we do Section*/
.section-about {
  background-color: var(--primary-white-color);
  padding-top: 0;
  padding-bottom: 94px;
}
.section-about .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-list {
  display: flex;
  justify-content: space-between;
}

/* Team Section*/

.section-team {
  background-color: var(--background-secondary-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team .teammate-name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.section-team .teammate-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
/* Footer */

.footer {
  background-color: var(--background-hero-color);
}

.address {
  font-style: normal;
}

.footer-contacts .address-link {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-contacts .contact-link {
  color: var(--primary-white-color);
  opacity: 0.6;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-contacts .contact-link:hover,
.footer-contacts .contact-link:focus {
  color: var(--accent-color);
  opacity: 1;
}

.footer-contacts .address-link:hover,
.footer-contacts .address-link:focus {
  color: var(--accent-color);
}

/*Portfolio*/
.secondary-button {
  color: var(--primary-text-color);
  background-color: var(--background-secondary-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.secondary-button:hover,
.secondary-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.portfolio-box {
  background: var(--primary-white-color);
  border: 1px solid var(--border-primary);
}

.portfolio-example {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;
}
